---
import { useTranslations, type Locale } from '../i18n/utils';

interface Props {
	locale: Locale;
}

const { locale } = Astro.props;
const t = useTranslations(locale);
const currentYear = new Date().getFullYear();

const navigation = {
	main: [
		{ name: t.nav.home, href: `/${locale}` },
		{ name: t.nav.getStarted, href: `/${locale}/kom-i-gang` },
		{ name: t.nav.docs, href: `/${locale}/docs` },
		{ name: t.nav.partners, href: `/${locale}/${locale === 'no' ? 'partnere' : 'partners'}` },
		...(locale === 'no' ? [{ name: 'Blogg', href: `/${locale}/blogg` }] : []),
		{ name: t.footer.privacy, href: `/${locale}/personvernserklæring` },
	],
	social: [
		{
			name: 'WordPress.org',
			href: 'https://wordpress.org/plugins/quick3-for-woocommerce/',
			icon: '<path d="M21.469 6.825c.84 1.537 1.318 3.3 1.318 5.175 0 3.979-2.156 7.456-5.363 9.325l3.295-9.527c.615-1.54.82-2.771.82-3.864 0-.397-.026-.767-.07-1.11m-7.981.105c.647-.03 1.232-.105 1.232-.105.582-.075.514-.93-.067-.899 0 0-1.755.135-2.88.135-1.064 0-2.85-.15-2.85-.15-.585-.03-.661.855-.075.885 0 0 .54.061 1.125.09l1.68 4.605-2.37 7.08L5.354 6.9c.649-.03 1.234-.1 1.234-.1.585-.075.516-.93-.065-.896 0 0-1.746.138-2.874.138-.2 0-.438-.008-.69-.015C4.911 3.15 8.235 1.215 12 1.215c2.809 0 5.365 1.072 7.286 2.833-.046-.003-.091-.009-.141-.009-1.06 0-1.812.923-1.812 1.914 0 .89.513 1.643 1.06 2.531.411.72.89 1.643.89 2.977 0 .915-.354 1.994-.821 3.479l-1.075 3.585-3.9-11.61.001.014zM12 22.784c-1.059 0-2.081-.153-3.048-.437l3.237-9.406 3.315 9.087c.024.053.05.101.078.149-1.12.393-2.325.609-3.582.609M1.211 12c0-1.564.336-3.05.935-4.39L7.29 21.709C3.694 19.96 1.212 16.271 1.211 12M12 0C5.385 0 0 5.385 0 12s5.385 12 12 12 12-5.385 12-12S18.615 0 12 0"/>',
		},
	],
};
---

<footer class="bg-white">
	<div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
		<nav aria-label="Footer" class="-mb-6 flex flex-wrap justify-center gap-x-12 gap-y-3 text-sm/6">
			{navigation.main.map((item) => (
				<a href={item.href} class="text-gray-600 hover:text-gray-900">
					{item.name}
				</a>
			))}
		</nav>
		<div class="mt-16 flex justify-center gap-x-10">
      
      {/*navigation.social.map((item) => (
				<a href={item.href} class="text-gray-600 hover:text-gray-800" target="_blank" rel="noopener noreferrer">
					<span class="sr-only">{item.name}</span>
					<svg fill="currentColor" viewBox="0 0 24 24" aria-hidden="true" class="size-6">
						<Fragment set:html={item.icon} />
					</svg>
				</a>
			))*/}
		</div>
		<p class="mt-10 text-center text-sm/6 text-gray-600">
			&copy; {currentYear} {t.footer.copyright}
		</p>
	</div>
</footer>
